html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    background: #e0e5ef;
}

/* fixed header - https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body */
#rates {
    max-height: 332px;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

#rates {
    border: 1px solid #697b80;
    border-left: 0;
    border-right: 0;
}

#rates thead th {
    position: sticky;
    top: 0;
    background: #383838;
    z-index: 1;
}

#rates th,
td {
    color: #f3f3f3;
    border: 1px solid #697b80;
    border-top: 0;
}

#rates td {
    background: #697b80;
}

#rates tbody tr:last-child td {
    border-bottom: 0;
}

.th-rate {
    color: #f9c300 !important;
}

i {
    cursor: pointer;
    opacity: 0.2;
}

i:hover {
    opacity: 1;
}

.new-row {
    animation: show-anim 1s ease;
}

@keyframes show-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hidden {
    display: none;
}